{% extends 'smite/base.html' %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block import_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block body_block %}
  <div class="ui two column centered grid">
    <div class="ui text container">
      <br><br><br>
      <img class="ui centered medium image" src="{% static 'smite/img/15338272211177038.png' %}">
      <h1 class="ui header">
        GENERATOR
      </h1>
      <h2>Generator app for SMITE by Hi-Rez.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>
{% endblock %}

{% block script_block %}

    
{% endblock %}