{% extends 'smite/base.html' %}

{% block title %}Home{% endblock %}

{% block import_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
{% endblock %}

{% block body_block %}
    <div class="ui grid">
          <div class="four wide column"></div>
          <div class="four wide column">
              <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                  <canvas id="chart"></canvas>
              </div>
          </div>
          <div class="four wide column"></div>
    </div>
{% endblock %}

{% block script_block %}

    
{% endblock %}