{% extends 'smite/base.html' %}
{% load staticfiles %}
{% block title %}Random God{% endblock %}

{% block import_block %}
  <link rel="stylesheet" href="{% static 'smite/css/random_god.css' %}">
{% endblock %}
{% block body_block %}
  <!-- Loader -->
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui hidden text loader">Loading..</div>
    </div>
  </div>

  <!-- Content start -->
  <div class="ui grid god-content">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <!-- God card -->
      <div class="ui hidden text loader">Loading</div>
      <figure class="snip1390 hover">
        <img id="god-img" class="responsive-img profile" src="#" alt="" style="height:10%">
        <figcaption>
          <h3 id="god-name"></h3>
          <h5 id="god-title"></h5>
        </figcaption>
      </figure>

      <!-- Button -->
      <div class="ui one column stackable center aligned page grid">
        <div class="column twelve wide">
          <!-- Random God button -->
          <form method="post">
            {% csrf_token %}
            <button id="random-god-btn" class="ui button">
              <i class="redo icon"></i>
              Reroll
            </button>
            <br>
          </form>
        </div>
      </div>

      <div class="ui accordion" align="center">
        <!-- Lore -->
        <div class="title">
          <i class="dropdown icon"></i>
          Lore
        </div>
        <div class="content">
           <p id="god-lore" class="transition hidden"></p>
        </div>

        <!-- Abilities -->
        <div class="title">
          <i id="ability-dropdown" class="dropdown icon"></i>
          Abilities
        </div>
        <div class="content">
          {% with ''|center:5 as range %}
          {% for _ in range %}
          {% if forloop.counter == 5 %}
          <div class="ui horizontal divider">
           Passive
          </div>
          {% else %}
          <div class="ui horizontal divider">
            Ability {{ forloop.counter }}
          </div>
          {% endif %}

          <h4 id="ability-{{ forloop.counter }}-name" align="center">Ability 1</h4>

          <div class="ui grid">
            <div class="two wide column"></div>
            <div class="two wide column">
              <img id="ability-{{ forloop.counter }}-img" class="ui middle aligned tiny rounded image" align="center" src="#" alt="ability-{{ forloop.counter }}-alt"/>
            </div>
            <div class="ten wide column">
              <span id="ability-{{ forloop.counter }}-desc"></span>
            </div>
          </div>
          {% endfor %}
          {% endwith %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_block %}
  <script>
    $(document).ready(function () {
      $('.ui.accordion').accordion();
      $(".loader").show();
      $(".god-content").hide();
      $.ajax({
        method: "GET",
        url: '{% url 'random_god_api' %}',
        success:function (data) {
          update(data);
        },
        complete: function () {
          $(".loader").hide();
          $(".god-content").show();
        }
      })

    });

    $("#random-god-btn").click(function () {
      $.ajax({
        method: "GET",
        beforeSend: function () {
          $(".loader").show();
          $(".god-content").hide();
        },
        url: '{% url 'random_god_api' %}',
        success:function (data) {
          update(data);
          console.log(data.ability_2);
        },
        complete: function () {
          $(".loader").hide();
          $(".god-content").show();
        }
      })
    });

    function update(god) {
      $(document).attr("title", "Random God - " + god.name);
      $("#god-name").html(god.name);
      $("#god-title").html(god.title);
      $("#god-lore").html(god.lore);
      $("#god-img").attr('src', god.card);
      $("#god-img").attr('alt', god.name);

      // DAMN CANT LOOP :(
      $("#ability-1-img").attr('src', god.ability_1.img);
      $("#ability-1-alt").attr('alt', god.ability_1.name);
      $("#ability-1-desc").html(god.ability_1.desc);
      $("#ability-1-name").html(god.ability_1.name);

      $("#ability-2-img").attr('src', god.ability_2.img);
      $("#ability-2-alt").attr('alt', god.ability_2.name);
      $("#ability-2-desc").html(god.ability_2.desc);
      $("#ability-2-name").html(god.ability_2.name);

      $("#ability-3-img").attr('src', god.ability_3.img);
      $("#ability-3-alt").attr('alt', god.ability_3.name);
      $("#ability-3-desc").html(god.ability_3.desc);
      $("#ability-3-name").html(god.ability_3.name);

      $("#ability-4-img").attr('src', god.ability_4.img);
      $("#ability-4-alt").attr('alt', god.ability_4.name);
      $("#ability-4-desc").html(god.ability_4.desc);
      $("#ability-4-name").html(god.ability_4.name);

      $("#ability-5-img").attr('src', god.ability_p.img);
      $("#ability-5-alt").attr('alt', god.ability_p.name);
      $("#ability-5-desc").html(god.ability_p.desc);
      $("#ability-5-name").html(god.ability_p.name);
    }
  </script>
{% endblock %}
